name: Windows

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
      - uses: actions/setup-go@v2
        with:
          go-version: 1.17
      - run: npm install --legacy-peer-deps
      - run: cd frontend && npm install --legacy-peer-deps
      - name: Install Deno
        run: iwr https://deno.land/x/install/install.ps1 -useb | iex
      - name: Build
        run: npm run ci:windows
      - name: Update release
        uses: johnwbyrd/update-release@v1.0.0
        with:
          release: development
          token: ${{ secrets.GITHUB_TOKEN }}
          files: build/bin/lethean.exe

